@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-3">Все новости под рукой</h1>
    <h5 class="display-6">Архив новостей со всех источников для Вашего удобства</h5>
    <p>Выберите нужный пункт из панели навигации</p>
</div>
